/* Register.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .register-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px; /* Increased width for better appearance */
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-form h1 {
    text-align: center;
    color: #333;
  }
  
  .register-form label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .register-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .register-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-form button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }
  